![Pandas](img/pandas.png)

Bienvenue dans ce notebook dÃ©diÃ© Ã  **Pandas**, l'une des bibliothÃ¨ques les plus importantes pour manipuler des donnÃ©es en Python.

ðŸŽ¯ Objectif : Apprendre Ã  manipuler des donnÃ©es tabulaires en Ã©tudiant les bases de **Pandas**.

---

## ðŸ“Œ Sommaire :
1. CrÃ©ation d'une DataFrame  
2. Chargement de donnÃ©es (CSV)  
3. Exploration rapide des donnÃ©es  
4. SÃ©lection et filtres  
5. OpÃ©rations sur les colonnes  
6. Nettoyage des donnÃ©es  
7. Groupement et agrÃ©gation  
8. Fusion de DataFrames

---

# Introduction

Pandas est une bibliothÃ¨que Python incontournable pour la **manipulation** et lâ€™**analyse de donnÃ©es tabulaires** (comme les fichiers CSV, Excel, ou bases de donnÃ©es relationnelles).

Elle est largement utilisÃ©e en **data science**, **machine learning**, **finance**, et dans toute activitÃ© oÃ¹ lâ€™on travaille avec des **donnÃ©es structurÃ©es**.

# 1. CrÃ©er une DataFrame manuellement

La DataFrame est la structure principale de Pandas. Elle reprÃ©sente un **tableau 2D** composÃ© de **lignes** et de **colonnes nommÃ©es**, un peu comme une feuille Excel.

Dans cette premiÃ¨re Ã©tape, nous allons crÃ©er une **DataFrame** Ã  partir dâ€™un dictionnaire Python. Chaque clÃ© du dictionnaire reprÃ©sente le nom dâ€™une colonne, et chaque valeur est une liste correspondant aux donnÃ©es de cette colonne.

In [ ]:
# Chargement de la bibliothÃ¨que Pandas et de numpy
import pandas as pd
import numpy as np

In [ ]:
# Dictionnaire contenant les donnÃ©es Ã  transformer
data = {
    "Nom": ["Alice", "Bob", "Charlie"],
    "Ã‚ge": [25, 30, 35],
    "Ville": ["Paris", "Lyon", "Marseille"]
}

# Conversion du dictionnaire en DataFrame
df = pd.DataFrame(data)

display(df)

### ðŸ§© Exercice

> CrÃ©ez votre propre DataFrame avec les colonnes : `Produit`, `Prix`, `QuantitÃ©`

In [ ]:
data = {
    'Produit': ['Tomate', 'Carotte', 'Poivron', 'Courgette', 'Aubergine'],
    'Prix': [2.5, 1.8, 3.2, 2.0, 2.7],
    'QuantitÃ©': [10, 15, 7, 12, 9]
}

df = pd.DataFrame(data)
display(df)

# 2. ðŸ“‚ Lire un fichier CSV

Dans la grande majoritÃ© des projets de data science, les donnÃ©es proviennent dâ€™un fichier externe, souvent au format CSV (Comma-Separated Values).
Ce format est simple, lisible, et largement utilisÃ© pour exporter des donnÃ©es depuis Excel, des bases de donnÃ©es ou des outils en ligne.

Avec Pandas, la fonction `pd.read_csv()` permet de charger rapidement un fichier CSV dans une DataFrame.

In [ ]:
# Chargement d'un fichier CSV
df = pd.read_csv("data/employees.csv")

display(df)

# 3. ðŸ” Exploration rapide des donnÃ©es

Une fois le fichier chargÃ©, la premiÃ¨re Ã©tape consiste Ã  explorer rapidement la structure et le contenu des donnÃ©es.
Cela permet de :
- vÃ©rifier que le fichier a bien Ã©tÃ© lu,
- repÃ©rer dâ€™Ã©ventuels problÃ¨mes (valeurs manquantes, colonnes inutilesâ€¦),
- et mieux comprendre les variables disponibles.

Pandas fournit plusieurs mÃ©thodes trÃ¨s pratiques pour cette phase dâ€™inspection :

In [ ]:
# ConnaÃ®tre les dimensions du tableau : (lignes, colonnes)
df.shape

In [ ]:
# Affiche les premiÃ¨res lignes du DataFrame (5 ligne par dÃ©faut)
df.head()

In [ ]:
# Affiche les 10 premiÃ¨res lignes du DataFrame
df.head(10)

In [ ]:
# RÃ©sumÃ© gÃ©nÃ©ral : nombre de lignes, colonnes, types, valeurs nulles
df.info()

In [ ]:
# Statistiques descriptives pour les colonnes numÃ©riques
df.describe()

In [ ]:
# Liste des noms de colonnes.
df.columns

# 4. ðŸ”Ž SÃ©lection et filtrage de donnÃ©es

Une fois les donnÃ©es chargÃ©es et explorÃ©es, vous allez souvent vouloir :
- accÃ©der Ã  une ou plusieurs colonnes spÃ©cifiques,
- ou filtrer les lignes selon des conditions (par exemple : age > 25, ville = "Paris", etc.).

### 4.1. SÃ©lection

En Pandas, on accÃ¨de Ã  une colonne comme Ã  une clÃ© de dictionnaire. Cela retourne une **Series**, câ€™est-Ã -dire un vecteur contenant les valeurs de cette colonne.

In [ ]:
# AccÃ¨s Ã  une colonne
selected_column = df["Nom_complet"]

selected_column

In [ ]:
# Type du contenu retournÃ© par la sÃ©lection (Series)
type(selected_column)

### 4.2. Filtrage

Il est possible d'appliquer un masque ou des conditions directement sur les colonnes.

In [ ]:
# Masque de filtrage
mask = df["Age"] > 25

# AperÃ§u du massque
display(mask)

# Retourne toutes les lignes oÃ¹ la colonne Age est strictement supÃ©rieure Ã  25.
# Ceci revient Ã  dire : "Afficher toutes les lignes oÃ¹ mask vaut True".
df[mask]

# 5. âž• OpÃ©rations sur les colonnes

Dans Pandas, on peut facilement **modifier**, **crÃ©er** ou **supprimer** des colonnes. Ces opÃ©rations sont trÃ¨s courantes lorsquâ€™on prÃ©pare des donnÃ©es pour lâ€™analyse ou le machine learning.

### 5.1. Colonnes dÃ©rivÃ©es

Les opÃ©rations mathÃ©matiques sont vectorisÃ©es c'est Ã  dire qu'elles sâ€™appliquent Ã  toute la colonne.

In [ ]:
# CrÃ©er une nouvelle colonne pour le salaire mensuel
df["Salaire mensuel"] = df["Salaire"] / 12

df

### ðŸ§© Exercices

> CrÃ©ez une colonne "Age/Salaire" qui reprÃ©sente le ratio entre lâ€™Ã¢ge et le salaire annuel.

In [ ]:
df["Age/Salaire"] = df["Age"] / df["Salaire"]
df.head()

> ðŸ’° Les employÃ©s qui gagnent moins de 60â€¯000 â‚¬ par an reÃ§oivent une prime de 5â€¯000 â‚¬, les autres 2â€¯000 â‚¬.  
> CrÃ©ez une colonne "Prime" avec la valeur appropriÃ©e selon le salaire.  
>
> ðŸ’¡ indice : vous pouvez utiliser **Numpy** avec sa mÃ©thode **where** (ex : `np.where()`)

In [ ]:
df["Prime"] = np.where(df["Salaire"] < 60000, 5000, 2000)

df.head(15)

### 5.2. Transformations personnalisÃ©es avec .apply()

Une colonne dÃ©rivÃ©e nâ€™a pas besoin dâ€™Ãªtre un calcul numÃ©rique. On peut aussi :
- transformer du texte,
- extraire de lâ€™information,
- ou catÃ©goriser des donnÃ©es.

La mÃ©thode `.apply()` permet dâ€™appliquer une **fonction** ou une **lambda** Ã  chaque Ã©lÃ©ment dâ€™une colonne (ou dâ€™une ligne).
Câ€™est trÃ¨s utile lorsquâ€™on veut transformer les donnÃ©es dâ€™une maniÃ¨re plus complexe quâ€™une simple opÃ©ration mathÃ©matique.

Qu'est-ce qu'une lambda ? : [Lire cet article](https://www.w3schools.com/python/python_lambda.asp)

In [ ]:
# Ajouter le suffixe (France) Ã  chaque ville de chaque ligne
df["Ville_complete"] = df["Ville"].apply(lambda v: v + " (France)")

df.Ville_complete.value_counts()

# ðŸ§  Ã‰quivalent avec une fonction 
#
#def ajouter_suffixe(ville):
#    return ville + " (France)"
#
#df["Ville_complete"] = df["Ville"].apply(ajouter_suffixe)

### ðŸ§© Exercices

> CrÃ©ez deux colonnes supplÃ©mentaires Ã  partir du nom complet :
> - une colonne `PrÃ©nom`
> - une colonne `Nom_de_famille`
>
> ðŸ’¡ indice : pensez Ã  la mÃ©thode `.split()` d'un type `string`

In [ ]:
df["PrÃ©nom"] = df["Nom_complet"].str.split().str[0]
df["Nom_de_famille"] = df["Nom_complet"].str.split().str[1]

df.head()

> CrÃ©ez une colonne `Position_ville` qui indique si la ville est situÃ©e dans la moitiÃ© nord ou dans la moitiÃ© sud.  
> ðŸ’¡ indice : on considÃ¨re Lille et Paris au nord, Lyon et Marseille au sud.

In [ ]:
df["Position_ville"] = df["Ville"].apply(lambda ville: "Nord" if ville in ["Lille", "Paris"] else "Sud")

df.head()

### 5.3. Renommer ou supprimer des colonnes

In [ ]:
# Renommer en anglais les diffÃ©rentes colonnes
df = df.rename(columns={"Nom_complet": "Full_name", "Ville": "Location", "Salaire": "Income", "Statut": "Status"})

df

In [ ]:
# Supprimer des colonnes
df = df.drop(["Salaire mensuel", "Ville_complete"], axis=1)

df

# ðŸ§  Comprendre les axes dans pandas : 
# On utilise `axis=0` lorsqu'on veut agir verticalement (lignes)
# On utilise `axis=1` lorsqu'on veut agir horizontalement (colonnes)

# 6. ðŸ’Š Traitement de donnÃ©es manquantes

Lorsque lâ€™on travaille avec des donnÃ©es rÃ©elles, il est trÃ¨s frÃ©quent de rencontrer des **valeurs manquantes** : une case vide dans un fichier CSV, une valeur absente dans un formulaire, etc.

Avant de dÃ©cider quoi faire avec ces valeurs, il faut les dÃ©tecter, comprendre oÃ¹ elles sont, puis choisir une stratÃ©gie adaptÃ©e : **suppression**, **remplacement**, **interpolation**, etc.

### 6.1 DÃ©tection des valeurs manquantes

In [ ]:
# Chargement du dataset du fichier employees_nulls.csv
df_employees_nulls = pd.read_csv("data/employees_nulls.csv")

df_employees_nulls.head()

#### a. Visualisation d'ensemble

Il est possible de repÃ©rer les valeurs manquantes dans chaque cellule du dataFrame. Les cellules marquÃ©es `True` indiquent une valeur manquante.

In [ ]:
df_employees_nulls.isna()

#### b. Visualisation par colonne

Pour compter le nombre de valeurs manquantes par colonne, on utilise la combinaison de `.isna()` et `.sum()`.
La mÃ©thode `.isna()` identifie les cellules manquantes en retournant `True` ou `False`, et `.sum()` **additionne ensuite ces True**.

En effet, en Python (et donc dans Pandas), les valeurs boolÃ©ennes ont une valeur numÃ©rique implicite :
- `True` vaut 1
- `False` vaut 0

Ainsi, `.sum()` appliquÃ© Ã  une sÃ©rie boolÃ©enne permet de compter les `True`, câ€™est-Ã -dire ici, les valeurs manquantes.

In [ ]:
# Compter le nombre de valeurs manquantes par colonne
df_employees_nulls.isna().sum()

#### c. Comptage du nombre de lignes concernÃ©es

Pour compter le nombre de lignes contenant au moins une valeur manquante, on utilise la combinaison de `.isna()`, `.any(axis=1)`, `.sum()`:
- `.isna()` renvoie un DataFrame de boolÃ©ens (True si la cellule est manquante, False sinon)
- `.any(axis=1)` parcourt chaque ligne (axis=1 signifie "le long des colonnes") et retourne True si au moins une des colonnes contient une valeur manquante sur cette ligne
- `.sum()` additionne les True (chaque True vaut 1), ce qui donne le nombre total de lignes concernÃ©es

In [ ]:
# Voir le nombre de lignes contenant au moins une valeur manquante
df_employees_nulls.isna().any(axis=1).sum()

### ðŸ§© Exercices (sur le dataset **"data/employees_nulls_training.csv"**)

âš ï¸ Assurez-vous dâ€™avoir prÃ©alablement chargÃ© le fichier `data/employees_nulls_training.csv`

> 1. Utilisez une mÃ©thode pour vÃ©rifier sâ€™il y a au moins une valeur manquante dans tout le DataFrame.
> 2. Affichez le nombre de valeurs manquantes pour chaque colonne
> 3. Affichez toutes les lignes contenant au moins une valeur manquante.
> 4. Affichez pour chaque colonne le pourcentage de valeurs manquantes,

In [ ]:
df = pd.read_csv("data/employees_nulls_training.csv")

# 1. 
display( df.isnull().any() )

# 2.
display( df.isnull().sum() )

# 3.
display( df[df.isnull().any(axis=1)] )

# 4.
display( df.isnull().mean() * 100 )

### 6.2 Traitement des valeurs manquantes

#### a. Remplacement par une valeur statistique (ex: moyenne ou mÃ©diane)

In [ ]:
# Exemple : remplacer les Ã¢ges manquants par la moyenne des Ã¢ges.
df_employees_nulls["Age"] = df_employees_nulls["Age"].fillna(df["Age"].mean())

df_employees_nulls.isna().sum()

#### b. Remplacement selon une logique conditionnelle ou mÃ©tier

In [ ]:
# Exemple : si la ville est manquante, on met "Non prÃ©cisÃ©"
df_employees_nulls["Ville"] = df_employees_nulls["Ville"].fillna("Non prÃ©cisÃ©")

df_employees_nulls.isna().sum()

#### c. Supprimer les lignes contenant des valeurs manquantes

Cette technique est utilisÃ©e lorsque les lignes incomplÃ¨tes sont peu nombreuses ou peu importantes car dans le cas contraire il y a des risques de perdre trop de donnÃ©es.

In [ ]:
df_employees_nulls = df_employees_nulls.dropna()

df_employees_nulls.isna().sum()

### ðŸ§© Exercices (sur le dataset **"data/employees_nulls_training.csv"**)

âš ï¸ Assurez-vous dâ€™avoir prÃ©alablement chargÃ© le fichier `data/employees_nulls_training.csv`

> 1. Supprimez toutes les lignes oÃ¹ le nom est manquant.
> 2. Remplacez les valeurs manquantes de la colonne `Salaire` par la mÃ©diane de cette colonne.
> 3. Remplacez les valeurs manquantes de la colonne `Age` par la moyenne de cette colonne.
> 4. Remplacez les valeurs manquantes de la colonne `Ville` par "Inconnu".
> 5. Si une colonne est indispensable Ã  lâ€™analys de donnÃ©es (ex. : `Statut`), propose une stratÃ©gie justifiÃ©e : suppression de la ligne ou remplacement.

In [ ]:
df.shape

In [ ]:
df = pd.read_csv("data/employees_nulls_training.csv")

# 1.
df = df.dropna(subset=["Nom_complet"])

# 2.
df["Salaire"] = df["Salaire"].fillna(df["Salaire"].median())

# 3.
df["Age"] = df["Age"].fillna(df["Age"].mean())

# 4.
df["Ville"] = df["Ville"].fillna("Inconnu")

# 5. La colonne Statut Ã©tant essentielle pour notre analyse, nous avons choisi de supprimer les 46 lignes pour lesquelles cette information est manquante. 
# Cela reprÃ©sente 4,6 % du jeu de donnÃ©es (sur un total de 1000 lignes). 
# Bien que ce taux soit relativement faible, nous avons prÃ©fÃ©rÃ© cette approche Ã  lâ€™imputation, car infÃ©rer des valeurs manquantes pour une variable catÃ©gorielle comporte un risque Ã©levÃ© dâ€™erreur ou de biais.
df["Statut"] = df["Statut"].dropna()

df.isnull().sum()

# 7. ðŸ“Š Groupement et agrÃ©gation

Le groupement permet de **segmenter** un jeu de donnÃ©es en **sous-ensembles** (par exemple par ville, par catÃ©gorie ou par client), puis dâ€™appliquer une **fonction dâ€™agrÃ©gation** Ã  chaque groupe : somme, moyenne, maximum, etc.

Câ€™est une opÃ©ration trÃ¨s puissante en data science pour produire des rÃ©sumÃ©s statistiques par groupe.

In [ ]:
df = pd.read_csv("data/employees.csv")

# SÃ©lectionner uniquement les colonnes qui nous intÃ©ressent
df_numeriques = df[["Ville", "Salaire"]]

# Regrouper par ville et faire une somme des salaire par ville
df_numeriques.groupby("Ville").sum()

D'autres opÃ©rations sont possibles comme l'affichage des statistiques descriptives avec `.describe()`

In [ ]:
# Statistiques descriptives par ville
display(df_numeriques.groupby("Ville").describe())

# â„¹ï¸ Il est possible dâ€™accÃ©der directement Ã  une statistique spÃ©cifique
# comme le nombre de valeurs ou la moyenne, en utilisant des mÃ©thodes dÃ©diÃ©es telles que .count() ou .mean().
display(df_numeriques.groupby("Ville").count()) # Nombre de salaire existant (non nulle) par ville
display(df_numeriques.groupby("Ville").mean())  # Moyenne des salaire par ville

### ðŸ§© Exercices

> Ã€ partir du dataset `data/employees.csv`, rÃ©pondez Ã  ces questions :
> - Quelle est la moyenne des salaires annuels de plus de 35000â‚¬ par statut marital ?
> - Quel est le pourcentage dâ€™employÃ©s mariÃ©s dans chaque ville ?

In [ ]:
df = pd.read_csv("data/employees.csv")

moyennes_salaire = df[df["Salaire"] > 35000].groupby("Statut")["Salaire"].mean()
display(moyennes_salaire)

df["Est_mariÃ©"] = df["Statut"] == "MariÃ©(e)"
pourcentage_mariÃ©s = df.groupby("Ville")["Est_mariÃ©"].mean() * 100
display(pourcentage_mariÃ©s)

# 8. ðŸ”— Fusionner deux DataFrames

Lorsque les donnÃ©es sont rÃ©parties dans plusieurs tableaux (par exemple clients dâ€™un cÃ´tÃ©, commandes de lâ€™autre), il est souvent nÃ©cessaire de les fusionner.

Pandas propose deux grands types de fusions :
- fusion horizontale (alignement par colonne)
- fusion verticale (empilement de lignes)

### a. Fusion horizontale (alignement par colonne) â€“ `pd.merge()`

In [ ]:
df_clients = pd.read_csv("data/clients.csv")
df_commandes = pd.read_csv("data/commandes.csv")

display(df_clients)
display(df_commandes)

# Fusion sur les identifiants : correspondance ligne Ã  ligne
df_fusion = pd.merge(df_clients, df_commandes, left_on="ID", right_on="Client_ID")
display(df_fusion)

Ã€ l'instar de SQL, il est possible d'utliser d'autres jointures (`left`, `right`, `outer`).

In [ ]:
# ðŸ” Jointure gauche (LEFT JOIN) :
# Garde toutes les lignes du DataFrame de gauche (clients),
# mÃªme si aucun client nâ€™a passÃ© de commande (valeurs manquantes dans 'Montant').
display( pd.merge(df_clients, df_commandes, left_on="ID", right_on="Client_ID", how="left") )

# ðŸ” Jointure droite (RIGHT JOIN) :
# Garde toutes les lignes du DataFrame de droite (commandes),
# mÃªme si certaines commandes n'ont pas de client correspondant (valeurs manquantes dans 'Nom').
display( pd.merge(df_clients, df_commandes, left_on="ID", right_on="Client_ID", how="right") )

# ðŸ” Jointure externe complÃ¨te (FULL OUTER JOIN) :
# Garde toutes les lignes des deux DataFrames,
# insÃ¨re des NaN lÃ  oÃ¹ il n'y a pas de correspondance (cÃ´tÃ© client ou cÃ´tÃ© commande).
display( pd.merge(df_clients, df_commandes, left_on="ID", right_on="Client_ID", how="outer"))

### ðŸ§© Exercice

> Chargez les fichiers CSV `"data/students.csv"` et `"data/notes.csv"` dans deux DataFrames : `df_students` et `df_notes` puis rÃ©pondez aux demandes suivantes :
> - RÃ©alisez une jointure interne (inner) pour ne conserver que les Ã©tudiants ayant une note.
> - RÃ©alisez une jointure gauche (left) pour conserver tous les Ã©tudiants, mÃªme ceux sans note.
> - RÃ©alisez une jointure externe (outer) pour afficher tous les Ã©tudiants et toutes les notes, mÃªme sans correspondance.

In [ ]:
df_students = pd.read_csv("data/students.csv")
df_notes = pd.read_csv("data/notes.csv")

inner_join = pd.merge(df_students, df_notes, left_on="ID", right_on="Etudiant_ID", how="inner")
display(inner_join)

left_join = pd.merge(df_students, df_notes, left_on="ID", right_on="Etudiant_ID", how="left")
display(inner_join)

outer_join = pd.merge(df_students, df_notes, left_on="ID", right_on="Etudiant_ID", how="outer")
display(inner_join)

### b. Fusion verticale (empilement de lignes) â€“ `pd.concat()`

Ce type de fusion est utilisÃ© pour concatÃ©ner des DataFrame similaires.

In [ ]:
df_1 = pd.read_csv("data/sales_1.csv")
df_2 = pd.read_csv("data/sales_2.csv")
df_3 = pd.read_csv("data/sales_3.csv")

# Fusion verticale : les lignes des DataFrame sont empilÃ©es par ordre de lecture
df_sales = pd.concat([df_1, df_2, df_3])

df_sales.reset_index()  # On rÃ©initialise les index aprÃ¨s la fusion

### ðŸ§© Exercices

> Chargez les fichiers CSV `"data/sessions_1.csv"`, `"data/sessions_2.csv"` et `"data/sessions_3.csv"` dans trois DataFrames puis rÃ©pondez aux demandes suivantes :
> - ConcatÃ¨nez les trois dataset pour obtenir un historique complet. (Pensez Ã  rÃ©indexer les lignes aprÃ¨s la concatÃ©nation avec ignore_index=True)
> - Triez le DataFrame fusionnÃ© par date croissante.
> - Affichez le nombre total de participants par thÃ¨me.
> - Identifie les participants qui sont venus plusieurs fois.

In [ ]:
df1 = pd.read_csv("data/sessions_1.csv")
df2 = pd.read_csv("data/sessions_2.csv")
df3 = pd.read_csv("data/sessions_3.csv")

df_all = pd.concat([df1, df2, df3], ignore_index=True)

df_all["Date"] = pd.to_datetime(df_all["Date"])
df_all = df_all.sort_values(by="Date")
display(df_all.head())

participants_par_theme = df_all["ThÃ¨me"].value_counts()
display(participants_par_theme)

participants_frequents = df_all["Participant"].value_counts()
display(participants_frequents)
participants_recurrents = participants_frequents[participants_frequents > 1]
display(participants_recurrents)

---
# âœ… Bravo !
Vous maÃ®trisez les bases de Pandas. Vous pouvez maintenant explorer, nettoyer et transformer des donnÃ©es !